<template>
  <div>
    <b-list-group class="container col-6 ">
      <p class="font-weight-light" v-show="todos.length === 0">
        Você não tem nenhuma todo para listar 🙁.
      </p>
      <b-list-group-item
        href="#"
        v-for="(todo, index) in todos"
        :key="index"
        class="flex-column align-items-start text-left"
      >
        <div class="d-flex w-100 justify-content-between">
          <b-icon
            icon="trash-fill"
            class="text-danger"
            @click="handleRemove(index)"
          />

          <h5 class="mb-1">{{ todo.name }}</h5>
          <small class="text-muted">{{
            todo.checked ? "ativada" : "desativada"
          }}</small>
        </div>
        <b-form-textarea
          name="description"
          v-model="todo.description"
          type="text"
          :disabled="!todo.checked"
          placeholder="descrição da sua todo"
          rows="3"
          max-rows="6"
        />
      </b-list-group-item>
    </b-list-group>
  </div>
</template>
<script>
import { BListGroupItem } from "bootstrap-vue";
export default {
  name: "list",
  components: {
    BListGroupItem,
  },
  props: {
    todos: {
      type: Array,
    },
  },
  methods: {
    handleRemove(index) {
      this.$emit("remove:todo", index);
    },
  },
};
</script>
<style></style>
