<template>
  <div class="container col-4">
    <b-form @submit.prevent="onSubmit" class="text-left">
      <b-form-group
        label="Nome da todo:"
        label-for="name"
        description="Este é o nome escolhido para a todo"
      >
        <b-form-input
          name="name"
          v-model="todo.name"
          type="text"
          required
          placeholder="nome da todo"
        />
      </b-form-group>
      <b-form-group
        label="Descrição da todo:"
        label-for="name"
        description="Esta é a descrição escolhida para a todo"
      >
        <b-form-textarea
          name="description"
          v-model="todo.description"
          type="text"
          placeholder="descrição da sua todo"
          rows="3"
          max-rows="6"
        />
      </b-form-group>
      <b-form-checkbox v-model="todo.checked">Ativar todo</b-form-checkbox>
      <b-button
        variant="primary"
        class="mt-3"
        type="submit"
        block
        :disabled="!todo.name || !todo.description"
        >Enviar</b-button
      >
    </b-form>
  </div>
</template>
<script>
import { BFormCheckbox } from "bootstrap-vue";
export default {
  name: "register",
  components: {
    BFormCheckbox,
  },
  data() {
    return {
      todo: {
        name: "",
        description: "",
        checked: true,
      },
    };
  },
  methods: {
    onSubmit() {
      this.$emit("create:todo", this.todo);
      this.todo = {
        name: "",
        description: "",
        checked: true,
      };
    },
  },
};
</script>
<style></style>
