<template>
  <div id="app">
    <b-tabs content-class="mt-3">
      <b-tab title="Listar"
        ><list @remove:todo="removeTodo" :todos="todos"
      /></b-tab>
      <b-tab title="Adicionar"><register @create:todo="createTodo"/></b-tab>
    </b-tabs>
  </div>
</template>

<script>
import Register from "@/views/Register";
import List from "@/views/List";

import { BTabs, BTab } from "bootstrap-vue";

export default {
  name: "App",
  components: {
    BTabs,
    BTab,
    List,
    Register,
  },
  data() {
    return {
      todos: [],
    };
  },
  methods: {
    createTodo(todo) {
      this.todos.push(todo);
    },
    removeTodo(index) {
      this.todos.splice(index, 1);
    },
  },
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
